<!DOCTYPE HTML>
<html>
<script type="text/javascript">
var isBuilderMode = false;
var winFixWidth = 1200,
    winFixHeight = 700;
var ResizePolicy = 3;
</script>

<head>
    <title>New Project-EMP.VRP3D.COM</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0'>
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/templates/css/bootstrap.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <script src="/templates/js/web3D/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/three.js"></script>
    <script src="/templates/js/web3D/js/TrackballControls.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/JsonIndexLoader.js"></script>
    <script src="/templates/js/web3D/js/empBuilder.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/empRuntime.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/animo.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/stats.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/Detector.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/Tween.min.js" type="text/javascript"></script>
    <link href="/templates/js/web3D/js/animate-animo.css" rel="stylesheet" type="text/css">
    <script src="/templates/js/web3D/js/jgestures.min.js" type="text/javascript"></script>
    <script src="/templates/js/web3D/js/pageSwitch.min.js" type="text/javascript"></script>
    <script src="/templates/js/vendor/bootstrap.min.js" type="text/javascript"></script>
</head>

<body style="position:absolute;  background-color:transparent; background-size:100% 100%;background-repeat:no-repeat; background-attachment:fixed; margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;-webkit-touch-callout:none;-webkit-user-select:none;">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="position: relative;z-index: 1000">
        查看库存
    </button>
    <button class="btn btn-inverse" id="" onclick="playAnimation(0.1)" style="position: relative;z-index: 1000">X10</button>
    <button class="btn btn-inverse" id="" onclick="playAnimation(1)" style="position: relative;z-index: 1000">X1</button>
    <button class="btn btn-inverse disabled" id="btn-play" style="position: relative;z-index: 1000"><span class="fui-play"></span></button>
    <button class="btn btn-inverse" id="btn-pause" style="position: relative;z-index: 1000"><span class="fui-pause"></span></button>
    <button class="btn btn-inverse" id="btn-replay" style="position: relative;z-index: 1000">回放 <span class="fui-checkbox-unchecked"></span></button>
    <div class="collapse" id="collapseExample" style="position: relative;z-index: 1000">
        <div style="border: 1px solid #ccc;border-radius: 10px;padding: 20px 15px 0 15px;position: relative;z-index: 1000;background-color: rgba(255,255,255,0.7);">
            <table class="table table-bordered">
                <thead>
                    <th colspan="2">原材料需求</th>
                </thead>
                <tbody>
                    <tr>
                        <th>底盘</th>
                        <td>200</td>
                    </tr>
                    <tr>
                        <th>发动机</th>
                        <td>300</td>
                    </tr>
                    <tr>
                        <th>座椅</th>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
var EmpFirstShowPage = {
    'pages': ['328025549-555962254-2129857797-1769827767', 'END'],
    'first': 0
};
var PageInitFunc = {};
var PageExitFunc = {};

window.addEventListener("load", (function() {
    if (PageInitFunc['328025549-555962254-2129857797-1769827767']) PageInitFunc['328025549-555962254-2129857797-1769827767']();
}), false);
</script>
<script type="text/javascript">
(function() { /* page:  汽车展示合_1 */
    var pageElement = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);
    pageElement.style.cssText = " background-color:rgba(138,0,0,0);position:absolute;margin:0px 0px 0px 0px ;width:1200px;height:700px;  z-index: 1;overflow:hidden;display:none;";
    PageInitFunc['328025549-555962254-2129857797-1769827767'] = (function() { /*empShowElementByID('1421555384-1552117900-707152488-937763923', 'hidden');  empShowElementByID('1691582227-1485258816-650407005-2039880589', 'visible');  empShowElementByID('513083203-513561875-706164739-1153835674', 'hidden');*/
        _124324387819802023771476550153307121760.enable();
    });
    PageExitFunc['328025549-555962254-2129857797-1769827767'] = (function() {
        _124324387819802023771476550153307121760.disable();
    });
})();

(function() { /*  3DScene:  3D场景_1  */
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);
    var itemElement = empGetElementByID('1243243878-1980202377-1476550153-307121760', 'div', pageElement213);
    pageElement213.appendChild(itemElement);
    itemElement.style.cssText = "pointer-events:auto;position:absolute;left:0px;top:0px;width:1200px;height:700px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:8;";
})();
var _124324387819802023771476550153307121760 = create3dScene('1243243878-1980202377-1476550153-307121760', 1200, 700, 0x000000, 0);
if (_124324387819802023771476550153307121760) {
    (function() {
        //car1 23,0,0  47,13,33
        //car2     8015,6463,9381
        var EmpCamera = _124324387819802023771476550153307121760.camera;
        EmpCamera.fov = 45;
        EmpCamera.near = 0.1;
        EmpCamera.far = 3113;
        EmpCamera.position.set(74, 122, -1400);
        EmpCamera.lookAt(0, 0, 0);
        EmpCamera.up.set(0, 1, 0);
        //_124324387819802023771476550153307121760.controls.target.set(  0,0,0 ) ; 
        _124324387819802023771476550153307121760.controls.maxDistance = 20000;
        EmpCamera.updateProjectionMatrix();
    })();

    _124324387819802023771476550153307121760.loadEmpObjs('/templates/car2/tsinghua2_ani/index.js', 'car1', '', {
        autoPlay: false
    }, function() {
        playAnimation(1);
    });
    (function() {
        var defaultLight = _124324387819802023771476550153307121760.findObjectByName('_1433554002181051684713614094411073901394');
        if (!defaultLight) {
            defaultLight = new THREE.AmbientLight(0xaaaaaa);
            defaultLight.name = '_1433554002181051684713614094411073901394';
            _124324387819802023771476550153307121760.addObject(defaultLight);
        } else {
            defaultLight.color.set(0xaaaaaa);
        }
        defaultLight.visible = true;
    })();
    (function() {
        var defaultLight = _124324387819802023771476550153307121760.findObjectByName('_1413231199170667129609714301060068242');
        if (!defaultLight) {
            defaultLight = new THREE.DirectionalLight(0xffffff, 0.7);
            defaultLight.name = '_1413231199170667129609714301060068242';
            _124324387819802023771476550153307121760.addObject(defaultLight);
        } else {
            defaultLight.color.set(0xffffff);
            defaultLight.intensity = 0.5;
        }
        defaultLight.visible = true;

    })();
    _124324387819802023771476550153307121760.showSkybox(false);

    function playAnimation(durationScale) {
        // _124324387819802023771476550153307121760.resetAniCamera('Camera002');
        // _124324387819802023771476550153307121760.resetAniModel();
        _124324387819802023771476550153307121760.palyAniCamera('Camera002', durationScale);
        _124324387819802023771476550153307121760.playAniModel(durationScale);
    }

    function resetAnimation(durationScale) {
        _124324387819802023771476550153307121760.resetAniCamera('Camera002');
        _124324387819802023771476550153307121760.resetAniModel();
        _124324387819802023771476550153307121760.palyAniCamera('Camera002', durationScale);
        _124324387819802023771476550153307121760.playAniModel(durationScale);
    }

    function pauseAnimation() {
        _124324387819802023771476550153307121760.pauseAniCamera('Camera002');
        _124324387819802023771476550153307121760.pauseAniModel();
    }

    function replayAnimation() {
        _124324387819802023771476550153307121760.replayAniCamera('Camera002');
        _124324387819802023771476550153307121760.replayAniModel();
    }

    function IsPauseAniCamera(a) {
        _124324387819802023771476550153307121760.mixer || (_124324387819802023771476550153307121760.mixer = new THREE.AnimationMixer(_124324387819802023771476550153307121760.scene));
        var pause = true;
        for (key in _124324387819802023771476550153307121760.cameras) {
            var b = _124324387819802023771476550153307121760.cameras[key];
            b.name == a && b.animations && (pause = _124324387819802023771476550153307121760.mixer.clipAction(b.animations[0], _124324387819802023771476550153307121760.controls).paused)
        }
        return pause;
    }

} /*addChildrenItems end*/
$('#btn-play').click(function(event) {
    $('#btn-pause').removeClass('disabled');
    $('#btn-play').addClass('disabled');
    replayAnimation();
});
$('#btn-pause').click(function(event) {
    $('#btn-pause').addClass('disabled');
    $('#btn-play').removeClass('disabled');
    pauseAnimation();
});
$('#btn-replay').click(function(event) {
    $('#btn-pause').removeClass('disabled');
    $('#btn-play').addClass('disabled');
    resetAnimation(1);
});
document.addEventListener("keydown", function(event) {
    if (event.keyCode === 9 || (event.keyCode >= 32 && event.keyCode <= 34) || (event.keyCode >= 37 && event.keyCode <= 40)) {
        event.preventDefault();
    }
}, false);

document.addEventListener("keyup", function(event) {

    if (event.shiftKey || event.altKey || event.ctrlKey || event.metaKey) {
        return;
    }

    if (event.keyCode === 9 || (event.keyCode >= 32 && event.keyCode <= 34) || (event.keyCode >= 37 && event.keyCode <= 40)) {
        switch (event.keyCode) {
            case 33: // pg up
            case 37: // left
            case 38: // up
            case 9: // tab
            case 32: // space
                if (!IsPauseAniCamera("Camera002")) {
                    $('#btn-pause').addClass('disabled');
                    $('#btn-play').removeClass('disabled');
                    pauseAnimation();
                } else {
                    $('#btn-pause').removeClass('disabled');
                    $('#btn-play').addClass('disabled');
                    replayAnimation();
                }
            case 34: // pg down
            case 39: // right
            case 40: // down
        }

        event.preventDefault();
    }
}, false);
</script>
