<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
    <style>
        body {
            width: 100%;
        }
    </style>
</head>

<body>
<div id="supply-step1">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="mytab">
        <li role="presentation"><a href="#cloth" aria-controls="cloth" role="tab" data-toggle="tab">用户</a></li>
        <li role="presentation" class="active"><a href="#logo" aria-controls="logo" role="tab" data-toggle="tab">设计师</a>
        </li>
        <!-- <li role="presentation"><a href="#wrapper" aria-controls="wrapper" role="tab" data-toggle="tab">包装设计</a></li> -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="cloth">
            <div class="container-fluid" style="margin-top: 30px;">
                <div class="col-sm-6 col-md-2"
                     style="background-color: #2C3E50;padding: 0px;width: 240px;border-radius: 10px;overflow:hidden;margin-left: 60px;">
                    <a href="/templates/cloth/Home_Measurement.html">
                        <img class="img-responsive" src="/templates/img/cloth/s6.jpg"
                             style="min-height:300px;height:300px;width: 240px;">
                    </a>
                    <h3 style="color: #16A085;margin-top: 15px;">
                        <center>智能量体</center>
                    </h3>
                </div>
                <div class="col-sm-6 col-md-2"
                     style="background-color: #2C3E50;padding: 0px;width: 240px;border-radius: 10px;overflow:hidden;margin-left: 60px;">
                    <a href="/templates/cloth/Home_Preferences.html">
                        <img class="img-responsive" src="/templates/img/cloth/s7.jpg"
                             style="min-height:300px;height:300px;width: 240px;">
                    </a>
                    <h3 style="color: #16A085;margin-top: 15px;">
                        <center>选择偏好</center>
                    </h3>
                </div>
                <div class="col-sm-6 col-md-2"
                     style="background-color: #2C3E50;padding: 0px;width: 240px;border-radius: 10px;overflow:hidden;margin-left: 60px;">
                    <a href="/templates/cloth/Home_Clothing_Library.html">
                        <img class="img-responsive" src="/templates/img/cloth/s8.jpg"
                             style="min-height:300px;height:300px;width: 240px;">
                    </a>
                    <h3 style="color: #16A085;margin-top: 15px;">
                        <center>服装库</center>
                    </h3>
                </div>
                <div class="col-sm-6 col-md-2"
                     style="background-color: #2C3E50;padding: 0px;width: 240px;border-radius: 10px;overflow:hidden;margin-left: 60px;">
                    <a href="/templates/cloth/Home_Parametric.html">
                        <img class="img-responsive" src="/templates/img/cloth/s9.jpg"
                             style="min-height:300px;height:300px;width: 240px;">
                    </a>
                    <h4 style="color: #16A085;margin-top: 20px;margin-bottom: 20px;">
                        <center>参数化个性定制</center>
                    </h4>
                </div>
                <div class="col-sm-6 col-md-2"
                     style="background-color: #2C3E50;padding: 0px;width: 240px;border-radius: 10px;overflow:hidden;margin-left: 60px;">
                    <a href="/templates/cloth/Home_Personal.html">
                        <img class="img-responsive" src="/templates/img/cloth/s10.jpg"
                             style="min-height:300px;height:300px;width: 240px;">
                    </a>
                    <h6 style="color: #16A085;margin-top: 22px;margin-bottom: 22px;">
                        <center>用户设计个性化定制</center>
                    </h6>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade active" id="logo">
            Hello World!
        </div>
        <div role="tabpanel" class="tab-pane fade" id="wrapper"></div>
    </div>
</div>
</body>

</html>
<script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/templates/js/vendor/bootstrap.min.js"></script>
<script src="/templates/js/vendor/flat-ui.js"></script>
<script src="/templates/js/vendor/video.js"></script>
<script src="/templates/js/vendor/pym.js"></script>
<script src="/templates/js/main.js"></script>
<script>
    $(document).ready(function () {
        var pymChild = new pym.Child({
            id: "iframe-customer-supply"
        });
        $('#mytab a[href="#cloth"]').tab('show');
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            pymChild.sendHeight();
        })
        var imgnum = $("img").length;
        var count1 = 0;
        $("img").each(function () {
            if (this.complete) count1 = count1 + 1;
            if (count1 == imgnum) {
                pymChild.sendHeight();
            }

        });
        var canvasnum = $("canvas").length;
        var count2 = 0;
        $("canvas").load(function () {
            count2 = count2 + 1;
            if (count2 == canvasnum) {
                pymChild.sendHeight();
            }
        });
    });
</script>
